*{
    margin: 0 auto;
}
@charset "UTF-8";
@font-face{
    font-family: 'font-serpo';
    src: url("../fonts/UbuntuMono-BI.ttf");
}
@font-face{
    font-family: 'font-btn';
    src: url("../fonts/Roboto-Bold.ttf");
}
form{
    text-align: center;
    padding-top: 5%;
}
.login{
    width: 290px;
    height: 55px;
    border: 0px solid;
    background: white;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.login input[type='text'],.login input[type='password']{
    float: right;
    width: 75%;
    height:100%;
    border:#BDBCBC;
    padding-top: 3%;
}
.login button{
    width: 20%;
    height:inherit;
    border: #BDBCBC;
}
.login img{
    width: 30px;
    float: left;
    margin: 5%;
}
h1{
    text-align: center; 
    font-size: 48px;
    font-family: sans-serif;
    font-style: oblique;
}
form button{
   background-color: rgb(254, 138, 25);
   border-style: solid;
   border-color:  rgb(254, 138, 25);
   width: 290px;
   height: 49px;
   font-size: 20px;
   text-align: center;
   color: white;
   box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.serpo{
    width: 100% ;
    height: 720px ;
    text-align: center
}
form H1{
    color: white;
    font-family: 'font-serpo';
    font-size: 60px;
}
form img{
    width: 30%;
    margin-bottom: 5%;
}
.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}
@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.item:nth-child(1) {
    background: url(http://agencia.sorocaba.sp.gov.br/wp-content/uploads/2018/06/cidade.jpg://ununsplash.imgix.net/photo-1417021423914-070979c8eb34?q=75&fm=jpg&s=55746bd56e02a131b1e48c12196ea866) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(2) {
    background: url(http://agencia.sorocaba.sp.gov.br/wp-content/uploads/2018/06/cidade.jpg://ununsplash.imgix.net/reserve/oY3ayprWQlewtG7N4OXl_DSC_5225-2.jpg?q=75&fm=jpg&s=85ab821f3fa535036a68155aab571bad) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(3) {
    background: url(PSD/back02.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.carousel {
    z-index: -99;
}
.carousel .item {
    position: fixed;
    width: 100%;
    height: 100%;
}
