*{
    margin: 0%;
    padding: 0%;       
}
body{
    background: #BEBCBC;
}
.menu{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 1px 1px 1px 1px grey;
}
.menu a{
    background-color: white;
    color: gray;
    display: block;
    padding: 12px;
    text-decoration: none;
}
.menu a:hover {
    background-color: #ccc;
}
#main{
    width: 40%;
    background: white;
    margin-top: 1%;
    margin-left: 1%;
    padding: .2%;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px grey;
}
#main input{
    border: #ccc;
    width: 90%;
    height: 35%;
    margin-bottom: 1%;
    padding: 2%;
} 
.icon{
    width: 4%;
    margin-top: 1%;
    margin-left: 2%;
}
.box{
    width: 255px;
    height: 330px;
    background: white;
    margin-left: 1%;
    margin-top: 1%;
    border-radius: 5px;
}
.box h1{
    margin-top: -25%;
    font-size: 25px;
    margin-left: 5%;
    color: black;
}
.box p{
    font-size: 12px;
    margin-top: 4%;
    margin-left: 1%;
    color: black;
}
.box h2{
    font-size: 20px;
    margin-left: 5%; 
}
.problema{
    height: 330px;
    background: white;
    border-radius: 5px;
    width: 255px;
    margin-left: -100%;
    margin-top: -24%;
}