*{
    margin: 0%;
    padding: 0%;       
}

.menu{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 1px 1px 1px 1px grey;
}
.menu a{
    background-color: white;
    color: gray;
    display: block;
    padding: 12px;
    text-decoration: none;
}
.menu a:hover {
    background-color: #ccc;
}
#main{
    width: 40%;
    background: white;
    margin-top: 1%;
    margin-left: 1%;
    padding: .2%;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px grey;
}
#main input{
    border: #ccc;
    width: 84%;
    height: 35%;
    margin-top: 1px;
    padding: 2%;
} 
.icon{
    margin-left: 5px;
    margin-bottom: 5px;
    width: 20px;
    margin-right
}
#prop{
    width: 255px;
    background: white;
    margin-left: -100%;
    margin-top: 1%;
    border-radius: 5px;
}

h1{
    font-size: 18px;
}

#numero-proprio{
    font-size: 12px;
    margin-top: 2%;
    
    color: black;
    text-align: left;
}

.problema{
    height: 350px;
    background: white;
    border-radius: 5px;
    width: 255px;
    margin-top: -100%;
    margin-left: -100%;

}   
button{
    width: 100%;
}

.problema img{
    margin-left: 90%;
}

@media screen and (max-width: 768px) {
    #map{
        width: 96%  !important;
    }
    #main{
        width: 80%;
        background: white;
        margin-top: 1%;
        margin-left: 1%;
        padding: .2%;
        border-radius: 5px;
        box-shadow: 1px 1px 1px 1px grey;
    }
    .icon{
        width: 20px;
        /*margin: 2px;*/
    }
    #main input{
        border: #ccc;
        width: 80%;
        height: 35%;
        margin-top: 1px;
        padding: 2%;
    } 
}
@media screen and (max-width: 500px){
    #main input{
        border: #ccc;
        width: 75%;
        height: 35%;
        margin-top: 1px;
        padding: 2%;
    } 
}
#ocorrencia_palavra_chave{
    width: 225px;
    height: 230px;
    overflow-y: auto;
}
#ocorrencia_palavra_chave li a{
    word-break: break-word;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}
#btnDropDown01{
    word-break: break-word;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}